<?xml version="1.0"?>

<robot name="dh_robotics_ag95_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include
        filename="$(find dh_robotics_ag95_description)/urdf/dh_robotics_ag95_gripper.urdf.xacro" />

    <link name="world" />
    <joint name="world_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="gripper_root_link" />
    </joint>

    <link name="gripper_root_link">
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 1.0" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 1.0" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1e2" />
            <origin xyz="0.0 0.0 0.0" />
            <inertia ixx="0.000001" ixy="0.000000" ixz="0.000000"
                iyx="0.000000" iyy="0.000001" iyz="0.000000"
                izx="0.000000" izy="0.000000" izz="0.000001" />
        </inertial>
    </link>

    <xacro:dh_robotics_ag95_gripper prefix="" parent="gripper_root_link">
        <origin xyz="0.05 0 0.85" rpy="${pi/2}  0 ${pi/2}" />
    </xacro:dh_robotics_ag95_gripper>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="dh_gazebo_ros2_control">
            <!-- <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node> -->
            <parameters>$(find dh_robotics_ag95_description)/config/dh_controllers.yaml</parameters>
            <!-- <controller_manager_name>controller_manager</controller_manager_name> -->
        </plugin>
    </gazebo>
</robot>