<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hdz_simplified">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.2042E-18 4.4255E-17 0.0025"
        rpy="0 0 0" />
      <mass
        value="3.1175" />
      <inertia
        ixx="0.13172"
        ixy="8.8751E-19"
        ixz="5.1381E-20"
        iyy="0.20619"
        iyz="5.4212E-20"
        izz="0.3379" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_frame_link">
    <inertial>
      <origin
        xyz="0.0088033 8.2139E-17 0.14288"
        rpy="0 0 0" />
      <mass
        value="15.553" />
      <inertia
        ixx="0.42803"
        ixy="6.1895E-17"
        ixz="-0.037958"
        iyy="0.31512"
        iyz="-1.7925E-17"
        izz="0.36" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/base_frame_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/base_frame_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_frame_joint"
    type="fixed">
    <origin
      xyz="-0.23005 0 0.005"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_frame_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>