<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hdz_simplified">
  <link
    name="hdz_up_board">
    <inertial>
      <origin
        xyz="-4.3979E-18 0.0083035 0.01"
        rpy="0 0 0" />
      <mass
        value="12.696" />
      <inertia
        ixx="0.83466"
        ixy="-4.0071E-18"
        ixz="8.674E-19"
        iyy="0.52749"
        iyz="5.0172E-17"
        izz="1.3613" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_up_board.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_up_board.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hdz_arm_frame">
    <inertial>
      <origin
        xyz="-1.455E-16 0.14288 0.0088033"
        rpy="0 0 0" />
      <mass
        value="15.553" />
      <inertia
        ixx="0.31512"
        ixy="3.4934E-18"
        ixz="3.8811E-17"
        iyy="0.36"
        iyz="-0.037958"
        izz="0.42803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_arm_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_arm_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hdz_arm_frame_joint"
    type="fixed">
    <origin
      xyz="0 0.242 0.02"
      rpy="1.5707963267949 0 0" />
    <parent
      link="hdz_up_board" />
    <child
      link="hdz_arm_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>