<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hdz">
  <link
    name="hdz_base_link">
    <inertial>
      <origin
        xyz="0.12543 -0.00028125 0.20317"
        rpy="0 0 0" />
      <mass
        value="104.27" />
      <inertia
        ixx="1.0396"
        ixy="-0.00012968"
        ixz="-0.16582"
        iyy="5.1965"
        iyz="6.1158E-06"
        izz="5.1293" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.8 0.8 0.4" />
      </geometry>
      <!-- <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_base_link.STL" />
      </geometry> -->
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_base_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <link
    name="hdz_extend_board_link">
    <inertial>
      <origin
        xyz="-0.066986 -5.6066E-15 0.0025"
        rpy="0 0 0" />
      <mass
        value="5.8885" />
      <inertia
        ixx="0.25499"
        ixy="4.1319E-16"
        ixz="1.5274E-19"
        iyy="0.0505"
        iyz="9.9326E-16"
        izz="0.30546" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2" />
      </geometry>
      <!-- <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_extend_board_link.STL" />
      </geometry> -->
      <material
        name="">
        <color
          rgba="0.3 0.5 0.3 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_extend_board_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="hdz_extend_board_joint"
    type="fixed">
    <origin
      xyz="0.23816 0 0.4357"
      rpy="0 0 0" />
    <parent
      link="hdz_base_link" />
    <child
      link="hdz_extend_board_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="hdz_ur_base_link" />
  <joint
    name="hdz_ur_base_joint"
    type="fixed">
    <origin
      xyz="0.13075 0 -0.09"
      rpy="0 0 0" />
    <parent
      link="hdz_extend_board_link" />
    <child
      link="hdz_ur_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hdz_steel_frame_link">
    <inertial>
      <origin
        xyz="-0.1116 -0.020422 0.25051"
        rpy="0 0 0" />
      <mass
        value="10.158" />
      <inertia
        ixx="0.09884"
        ixy="5.6177E-06"
        ixz="-3.3121E-07"
        iyy="0.085565"
        iyz="-8.766E-06"
        izz="0.037015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <!-- <geometry>
        <box size="0.2 0.2 0.2" />
      </geometry> -->
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_steel_frame_link.obj" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_steel_frame_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="hdz_steel_frame_joint"
    type="fixed">
    <origin
      xyz="-0.29675 0 0.005"
      rpy="0 0 0" />
    <parent
      link="hdz_extend_board_link" />
    <child
      link="hdz_steel_frame_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hdz_ur_control_cabinet_link">
    <inertial>
      <origin
        xyz="-0.00042578 4.3304E-05 0.052484"
        rpy="0 0 0" />
      <mass
        value="0.96366" />
      <inertia
        ixx="0.016929"
        ixy="-5.3803E-06"
        ixz="1.9944E-06"
        iyy="0.0096351"
        iyz="3.1423E-06"
        izz="0.022879" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2" />
      </geometry>
      <!-- <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_ur_control_cabinet_link.STL" />
      </geometry> -->
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hdz_simplified/meshes/hdz_ur_control_cabinet_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="hdz_ur_control_cabinet_joint"
    type="fixed">
    <origin
      xyz="0.0335 0 -0.005"
      rpy="0 0 0" />
    <parent
      link="hdz_steel_frame_link" />
    <child
      link="hdz_ur_control_cabinet_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>