<?xml version="1.0" encoding="UTF-8"?>

<robot name="hdz_with_ur" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- create link fixed to the "world" -->
    <link name="world" />

    <!-- 撼地者 (hdz) -->
    <xacro:arg name="hdz_tf_prefix" default="hdz_" />
    <xacro:include filename="$(find ur_perception_description)/urdf/hdz.urdf.xacro" />

    <!-- UR arm -->
    <xacro:arg name="ur_parent" default="$(arg hdz_tf_prefix)ur_base_link" />
    <xacro:include filename="$(find ur_perception_description)/urdf/ur5e.urdf.xacro" />

    <link name="grasp_center_link" />
    <joint name="grasp_center_joint" type="fixed">
        <parent link="tool0" />
        <child link="grasp_center_link" />
        <origin xyz="0 0 0.18" rpy="0 0 0" />
    </joint>


    <!-- RobotIQ Gripper -->
    <!-- <xacro:include filename="$(find ur_perception_description)/urdf/robotiq.xacro" /> -->

    <!-- DH Robotics AG95 Gripper -->
    <xacro:include filename="$(find ur_perception_description)/urdf/dh_ag95_gripper.xacro" />

    <!-- d435i depth camera -->
    <xacro:include filename="$(find ur_perception_description)/urdf/d435i.xacro" />
</robot>