<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro" />
    <xacro:ur_to_robotiq prefix="" connected_to="tool0" />

    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix=""
        parent="gripper_mount_link" use_fake_hardware="$(arg use_fake_hardware)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
</robot>