<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="hdz_with_ur">

  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ur_perception_description)/srdf/ur_macro.srdf.xacro" />

  <xacro:ur_srdf prefix="$(arg prefix)" />

</robot>